<%= form_for @user do |f| %>
	<ul>
	  <% @user.errors.full_messages.each do |error| %>
	  <li><%= error %></li>
	  <% end %>
	</ul>
  <%= f.label :username, "Username: " %>
  <%= f.text_field :username %><br>
  <%= f.label :email, "Email: " %>
  <%= f.text_field :email, :value => "example@email.com" %><br>
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password %><br>
  <%= f.submit "Update" %>
<% end %>